@import '@/utils/sass/baseColor.scss';

@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.container {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  padding-block: 56px;
  display: flex;
  justify-content: center;
  z-index: 20;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-block: 20px;
  transition: all ease-in-out 200ms;
}

.form__wrapper {
  width: 600px;
  height: fit-content;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 12px;
  z-index: 40;
  animation: scaleIn 200ms ease-in-out forwards;
}

.form__header {
  padding: 24px;
  border-bottom: 1px solid $md_blue;
  display: flex;
  justify-content: space-between;
}

.form__header__h1 {
  color: $md_blue;
  @apply text-3xl;
  font-weight: 600;
}

.form__body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 16px 24px 32px 24px;
}

.form__field__wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: relative;
}

.form__field__label {
  @apply text-lg;
  font-weight: 500;
}

.form__input__text {
  padding: 16px 28px 16px 28px;
  border: 1px solid black;
  @apply border-gray-400;
  border-radius: 6px;
  &::placeholder {
    @apply text-gray-500;
  }
}

.error__msg {
  font-size: 12px;
  @apply text-red-500;
}

.form__input__selection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 28px 16px 28px;
  border: 1px solid black;
  @apply border-gray-400;
  border-radius: 6px;
  @apply text-gray-500;
}

.selection__dropdown {
  width: 100%;
  max-height: 220px;
  overflow: auto;
  border-radius: 6px;
  background-color: #fff;
  padding-block: 4px;
  @apply shadow-lg ring-1 ring-black ring-opacity-5;
  position: absolute;
  top: 100%;
  z-index: 10;
  margin-top: 8px;
  transition: all ease-in-out 100ms;
  opacity: 0;
  visibility: hidden;

  &:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
  }
}

.selection__dropdown__item {
  padding: 16px 24px;
  cursor: pointer;
  &:hover {
    background-color: $primary_blue;
    color: #fff;
  }

  transition: all ease 150ms;
}

.form__footer {
  padding: 24px;
  border-top: 1px solid $md_blue;
  display: flex;
  justify-content: flex-end;
}

.btn__submit {
  color: #fff;
  font-weight: 600;
  padding: 8px 24px;
  border-radius: 6px;
  background-color: $md_blue;
}
