$navy: #1c3879;
$beige: #eae3d2;
$winter: #f9f5eb;
$dark_blue: #162a4b;
$dark_blue_2: #144272;
$dark_blue_3: #205295;
$dark_blue_4: #2c74b3;
$md_blue: #1e3d59;
$hue_blue: #48d3f2;
$light_hue_blue: #3daeda;
$primary_blue: #29678c;

$primary_gray: #8f8f8f;
$light_gray: #d8d8d8;

$light_white: #f3f3f3;

$md_gray: #4d4d4d;
$primary: #42526e;
$primary_text: #212b36;
